[submodule "marklogic"]
	path = marklogic
	url = https://github.com/marklogic-community/grove-ml-gradle.git
	branch = development
[submodule "middle-tier"]
	path = middle-tier
	url = https://github.com/marklogic-community/grove-node.git
	branch = development
[submodule "ui"]
	path = ui
	url = https://github.com/marklogic-community/grove-vue-ui.git
	branch = development
