[submodule "marklogic"]
	path = marklogic
	url = https://github.com/marklogic-community/grove-ml-gradle.git
[submodule "middle-tier"]
	path = middle-tier
	url = https://project.marklogic.com/repo/scm/nacw/grove-node.git
[submodule "ui"]
	path = ui
	url = https://project.marklogic.com/repo/scm/~gjosten/grove-vue-ui.git
